
/* Fuzzy Bubbles */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
/* Jost (Futura) */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--font-family: 'Jost', 'Helvetica', 'Arial', sans-serif;
	
	--bg-color: #123;
	--text-color: #FFF;
	--accent: #DB4;
}

body {
	font-family: var(--font-family);
	background-color: var(--bg-color);
	color: var(--text-color);
	padding: 20px;
}

.fuzzy, b, mark {
	font-family: 'Fuzzy Bubbles';
	font-weight: 700;
	background-color: transparent, var(--bg-color);
	color: var(--accent);
}

h1 {
	font-family: 'Fuzzy Bubbles';
	font-size: 5em;
	margin: 0px;
	color: var(--accent);
}

#pfp {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 5px solid white;
}

p, li {
	font-size: 100%;
	line-height: 1.5em;
}

li {
	font-size: 100%;
	line-height: 2em;
}

a {
	color: var(--accent);
	text-decoration: underline;
	text-decoration-style: wavy;
	text-underline-offset: 0.25em;
}

a:hover {
	color: var(--text-color);
}
