:root {
	--bg-color: #123;
	--text-color: #FFF;
	--accent: #DB4;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	padding: 10px;
	overflow-x: hidden;
}

mark {
	background-color: transparent, var(--bg-color);
	color: var(--accent);
}

nav {
	position: sticky;
	top: 0;
	overflow: hidden;

	display: flex;
	justify-content: center;
	width: 100vw;
	padding: 10px 10px 40px 10px;
	margin: -20px -20px -20px -20px;
	background: linear-gradient(180deg, #0C1724 70%, rgba(0, 0, 0, 0) 100%);
}

nav img {
	width: 8vw;
	height: 8vw;
	border-radius: 50%;
	border: 3px solid white;
}

h1 {
	margin: 0px;
	margin-top: 2vh;
}

a {
	color: var(--accent);
	text-decoration: underline;
	text-decoration-style: wavy;
	text-underline-offset: 0.25em;
}

a:hover {
	color: var(--text-color);
}

#recipe {
	display: none;
}