:root {
	--bg-color: #123;
	--text-color: #FFF;
	--accent: #DB4;
}

mark {
	background-color: transparent, var(--bg-color);
	color: var(--accent);
	font-size: 90%;
}

.outline-accent {
	--outline-color: var(--accent);
}

.outline-white {
	--outline-color: white;
}

.outline-accent,
.outline-white {
	color: var(--bg-color) !important;
	text-shadow:
		0.03em 0 var(--outline-color),
		0 0.03em var(--outline-color),
		-0.03em 0 var(--outline-color),
		0 -0.03em var(--outline-color),
		-0.03em -0.03em var(--outline-color),
		-0.03em 0.03em var(--outline-color),
		0.03em -0.03em var(--outline-color),
		0.03em 0.03em var(--outline-color);
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	overflow-x: hidden;
	margin: 0px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#nav {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	background: linear-gradient(180deg, #0C1724 60%, rgba(0, 0, 0, 0) 100%);
	padding-bottom: 20px;
}

#nav a {
	text-decoration-style: none !important;
	text-decoration: none !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

#nav img {
	width: 5vh;
	min-width: 50px;
	height: auto;
	border-radius: 50%;
	border: 0.15em solid white;
	margin-right: 10px;
	transform: skewX(0deg);
}

#nav span {
	color: var(--bg-color);
	font-size: clamp(30px, 4vh, 20000px);
	font-weight: 600;
	letter-spacing: 0.03em;
}

#content {
	width: 600px;
	max-width: 90vw;
}

h1 {
	margin: 0px;
	margin-top: 2vh;
}

a {
	color: var(--accent);
	text-decoration: underline;
	text-decoration-style: wavy;
	text-underline-offset: 0.3em;
}

a:hover {
	color: var(--text-color);
}

#buttons {
	display: flex;
	flex-direction: column;
	width: 50%;
	transform: translateX(50%);
}

#buttons button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	
	background-color: var(--accent);
	border: none;
	border-radius: 12px;

	padding: 5px;
	min-height: 2.1em;

	font-family: var(--font-family);
	font-size: 1.333em;
	font-weight: 700;
	letter-spacing: 0.04em;
	color: var(--bg-color);
	
	cursor: pointer;
}

#buttons button svg {
	max-width: 40px;
	fill: var(--bg-color);
}

#recipe {
	display: none;
}