#nutshell-close-all {
	color: #123;
}

.nutshell-expandable {
	color: #db4;
	border-bottom: dotted 3px;
}

.nutshell-expandable:hover {
	color: #B49C43;
}

.nutshell-expandable .nutshell-expandable-text {
	padding-left: 0.4em;
}

.nutshell-bubble-from {
	display: none;
}

.nutshell-bubble-overflow-close {
	color: white;
}