
/* Fuzzy Bubbles */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
/* Jost (Futura) */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--pale-yellow: #DB4;
}

body {
	font-family: 'Jost', 'Helvetica', 'Arial', sans-serif;
	background-color: #123;
	color: white;
	padding: 20px;
}

.fuzzy, b {
	font-family: 'Fuzzy Bubbles';
	color: var(--pale-yellow);
}

h1 {
	font-family: 'Fuzzy Bubbles';
	font-size: 6em;
	margin: 0px;
	color: var(--pale-yellow);
}

#pfp {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 5px solid white;
}

h2 {
	margin-top: 3em;
}

p {
	font-size: 100%;
}

a {
	color: var(--pale-yellow);
	text-decoration: underline;
	text-decoration-style: wavy;
	text-underline-offset: 0.18em;
}

a:hover {
	color: white;
}
